
@{
    ViewBag.Title = "Index";
}

<h2>Cliente</h2>
  

@CustomHelper.AlertMessages()
<div>
    <a href="#" onclick="getModalContent('@Url.Action("Crear",new { area="DoFactory" })'); return false;" data-toggle="modal" data-target="#modal-container" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-plus"></span> Nuevo
    </a>
</div>
<br />

<div class="row">
    @CustomHelper.RowSizeDropdown()
    <div class="col-lg-8" id="paginator-container">
        <div class="paginator"></div>
    </div>
</div>
<div id="ContenidoCliente"></div>

@Scripts.Render("~/bundles/unobtrusive-ajax")
@CustomHelper.GetModal("Cliente")


@Scripts.Render("~/bundles/modal")
@Scripts.Render("~/bundles/paginator")
@Scripts.Render("~/bundles/cliente")

<script type="text/javascript">

    var pageSizeAction = '@Url.Action("CantidadPagina", new { controller = "Cliente", area = "DoFactory" })';
    var listAction = '@Url.Action("Lista", new { controller = "Cliente", area = "DoFactory" })';
</script>